{
  "printWidth": 120,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "bracketSameLine": true,
  "semi": true,
  "singleQuote": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
